.swiper {
  max-height: 640px;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper__header-container {
  position: absolute;
  top: 208px;
  left: 136px;
}

.swiper__header {
  height: 112px;
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 105px;
  margin: 0;
  color: #10504F;
}

.swiper__subheader {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  color: #10504F;
  margin-bottom: 26px;
  text-align: left;
}

.swiper__buy-button {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  background-color: black;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 43px;
  float: left;
  border: none;
}

.alternative {
  color: white;
}

@media only screen and (max-width: 1067px) {
  .swiper__header-container {
    position: static;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column-reverse;
  } 

  .alternative {
    color: #10504F;
  }

  .swiper__header {
    height: 46px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
    text-align: center;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper__subheader {
    font-weight: 400;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .swiper-pagination {
    bottom: 150px !important;
  }

}

