.productSwiper {
  height: 100%;
}

.productSwiper__collection-title {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 105px;
  text-align: center;
  color: #000000;
}

@media only screen and (max-width: 767px) {
  .productSwiper__collection-title {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
    margin-top: 7px;
  }
}
